@keyframes move {
    100% {
        transform: translate3d(0, 0, 1px) rotate(360deg);
    }
}

.background {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background: #141414;
    overflow: hidden;
}

.background span {
    width: 1vmin;
    height: 1vmin;
    border-radius: 1vmin;
    backface-visibility: hidden;
    position: absolute;
    animation: move;
    animation-duration: 9;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}


.background span:nth-child(0) {
    color: #0fe4d2;
    top: 84%;
    left: 48%;
    animation-duration: 110s;
    animation-delay: -378s;
    transform-origin: 13vw -12vh;
    box-shadow: -2vmin 0 0.8183596209259105vmin currentColor;
}
.background span:nth-child(1) {
    color: #0fe4d2;
    top: 21%;
    left: 32%;
    animation-duration: 175s;
    animation-delay: -336s;
    transform-origin: 9vw -17vh;
    box-shadow: 2vmin 0 0.9394851010506546vmin currentColor;
}
.background span:nth-child(2) {
    color: #0fe4d2;
    top: 93%;
    left: 59%;
    animation-duration: 103s;
    animation-delay: -333s;
    transform-origin: -15vw -22vh;
    box-shadow: -2vmin 0 0.33348240515365557vmin currentColor;
}
.background span:nth-child(3) {
    color: #c0c0c0;
    top: 63%;
    left: 87%;
    animation-duration: 159s;
    animation-delay: -286s;
    transform-origin: 25vw -1vh;
    box-shadow: 2vmin 0 0.29918431253105426vmin currentColor;
}
.background span:nth-child(4) {
    color: #ffffff;
    top: 69%;
    left: 84%;
    animation-duration: 351s;
    animation-delay: -364s;
    transform-origin: 23vw -22vh;
    box-shadow: 2vmin 0 0.8567967881116285vmin currentColor;
}
.background span:nth-child(5) {
    color: #0fe4d2;
    top: 17%;
    left: 48%;
    animation-duration: 399s;
    animation-delay: -335s;
    transform-origin: 19vw -1vh;
    box-shadow: -2vmin 0 0.6013430070068415vmin currentColor;
}
.background span:nth-child(6) {
    color: #0fe4d2;
    top: 30%;
    left: 82%;
    animation-duration: 371s;
    animation-delay: -327s;
    transform-origin: 18vw 13vh;
    box-shadow: -2vmin 0 1.2439908878504324vmin currentColor;
}
.background span:nth-child(7) {
    color: #707aee;
    top: 32%;
    left: 60%;
    animation-duration: 213s;
    animation-delay: -47s;
    transform-origin: -1vw -11vh;
    box-shadow: -2vmin 0 0.717487723142826vmin currentColor;
}
.background span:nth-child(8) {
    color: #ffffff;
    top: 43%;
    left: 45%;
    animation-duration: 295s;
    animation-delay: -243s;
    transform-origin: -15vw -11vh;
    box-shadow: -2vmin 0 0.3013997655530969vmin currentColor;
}
.background span:nth-child(9) {
    color: #0fe4d2;
    top: 48%;
    left: 68%;
    animation-duration: 306s;
    animation-delay: -197s;
    transform-origin: -4vw -1vh;
    box-shadow: 2vmin 0 0.9063876546963985vmin currentColor;
}
.background span:nth-child(10) {
    color: #707aee;
    top: 70%;
    left: 39%;
    animation-duration: 390s;
    animation-delay: -380s;
    transform-origin: -9vw 22vh;
    box-shadow: 2vmin 0 0.457333410681791vmin currentColor;
}
.background span:nth-child(11) {
    color: #ffffff;
    top: 49%;
    left: 73%;
    animation-duration: 57s;
    animation-delay: -271s;
    transform-origin: 18vw -14vh;
    box-shadow: -2vmin 0 0.253015508758482vmin currentColor;
}
.background span:nth-child(12) {
    color: #0fe4d2;
    top: 28%;
    left: 20%;
    animation-duration: 62s;
    animation-delay: -101s;
    transform-origin: -23vw -18vh;
    box-shadow: 2vmin 0 0.4821380457093838vmin currentColor;
}
.background span:nth-child(13) {
    color: #ffffff;
    top: 39%;
    left: 81%;
    animation-duration: 397s;
    animation-delay: -23s;
    transform-origin: 0vw -24vh;
    box-shadow: -2vmin 0 0.26770335193914874vmin currentColor;
}
.background span:nth-child(14) {
    color: #707aee;
    top: 73%;
    left: 93%;
    animation-duration: 75s;
    animation-delay: -108s;
    transform-origin: -8vw -24vh;
    box-shadow: -2vmin 0 0.5013607822551656vmin currentColor;
}
.background span:nth-child(15) {
    color: #ffffff;
    top: 25%;
    left: 41%;
    animation-duration: 19s;
    animation-delay: -68s;
    transform-origin: 17vw 2vh;
    box-shadow: -2vmin 0 0.2544933940743743vmin currentColor;
}
.background span:nth-child(16) {
    color: #0fe4d2;
    top: 3%;
    left: 28%;
    animation-duration: 228s;
    animation-delay: -190s;
    transform-origin: -3vw -18vh;
    box-shadow: 2vmin 0 0.5844693219494295vmin currentColor;
}
.background span:nth-child(17) {
    color: #707aee;
    top: 100%;
    left: 94%;
    animation-duration: 52s;
    animation-delay: -79s;
    transform-origin: -23vw -13vh;
    box-shadow: -2vmin 0 0.8618874165014025vmin currentColor;
}
.background span:nth-child(18) {
    color: #c0c0c0;
    top: 11%;
    left: 82%;
    animation-duration: 39s;
    animation-delay: -336s;
    transform-origin: -21vw -14vh;
    box-shadow: 2vmin 0 0.6569233239374683vmin currentColor;
}
.background span:nth-child(19) {
    color: #c0c0c0;
    top: 37%;
    left: 99%;
    animation-duration: 408s;
    animation-delay: -407s;
    transform-origin: -23vw 20vh;
    box-shadow: -2vmin 0 1.1616028612341172vmin currentColor;
}
.background span:nth-child(20) {
    color: #707aee;
    top: 81%;
    left: 30%;
    animation-duration: 26s;
    animation-delay: -172s;
    transform-origin: 4vw -16vh;
    box-shadow: 2vmin 0 0.2523995304347959vmin currentColor;
}
.background span:nth-child(21) {
    color: #707aee;
    top: 16%;
    left: 45%;
    animation-duration: 8s;
    animation-delay: -46s;
    transform-origin: 6vw 1vh;
    box-shadow: 2vmin 0 1.1560641491199777vmin currentColor;
}
.background span:nth-child(22) {
    color: #0fe4d2;
    top: 100%;
    left: 37%;
    animation-duration: 120s;
    animation-delay: -369s;
    transform-origin: 13vw 0vh;
    box-shadow: -2vmin 0 1.1274211567490449vmin currentColor;
}
.background span:nth-child(23) {
    color: #ffffff;
    top: 80%;
    left: 58%;
    animation-duration: 143s;
    animation-delay: -360s;
    transform-origin: 4vw 24vh;
    box-shadow: 2vmin 0 1.1363293644289123vmin currentColor;
}
.background span:nth-child(24) {
    color: #707aee;
    top: 47%;
    left: 15%;
    animation-duration: 65s;
    animation-delay: -256s;
    transform-origin: 6vw -23vh;
    box-shadow: 2vmin 0 0.4785693457820772vmin currentColor;
}
.background span:nth-child(25) {
    color: #707aee;
    top: 88%;
    left: 77%;
    animation-duration: 78s;
    animation-delay: -408s;
    transform-origin: 7vw 10vh;
    box-shadow: -2vmin 0 1.0512935834539965vmin currentColor;
}
.background span:nth-child(26) {
    color: #0fe4d2;
    top: 45%;
    left: 87%;
    animation-duration: 33s;
    animation-delay: -161s;
    transform-origin: 6vw -7vh;
    box-shadow: -2vmin 0 0.5931683269301757vmin currentColor;
}
.background span:nth-child(27) {
    color: #707aee;
    top: 83%;
    left: 24%;
    animation-duration: 230s;
    animation-delay: -166s;
    transform-origin: -13vw -23vh;
    box-shadow: 2vmin 0 0.2818434521297293vmin currentColor;
}
.background span:nth-child(28) {
    color: #ffffff;
    top: 5%;
    left: 56%;
    animation-duration: 249s;
    animation-delay: -182s;
    transform-origin: 23vw -11vh;
    box-shadow: 2vmin 0 0.34954818309195423vmin currentColor;
}
.background span:nth-child(29) {
    color: #c0c0c0;
    top: 33%;
    left: 3%;
    animation-duration: 291s;
    animation-delay: -322s;
    transform-origin: 9vw -20vh;
    box-shadow: -2vmin 0 0.9118639355242275vmin currentColor;
}
.background span:nth-child(30) {
    color: #c0c0c0;
    top: 28%;
    left: 70%;
    animation-duration: 135s;
    animation-delay: -293s;
    transform-origin: 3vw -8vh;
    box-shadow: 2vmin 0 0.39805054295111897vmin currentColor;
}
.background span:nth-child(31) {
    color: #ffffff;
    top: 95%;
    left: 10%;
    animation-duration: 363s;
    animation-delay: -219s;
    transform-origin: -3vw -12vh;
    box-shadow: 2vmin 0 0.7774674483940192vmin currentColor;
}
.background span:nth-child(32) {
    color: #0fe4d2;
    top: 30%;
    left: 92%;
    animation-duration: 213s;
    animation-delay: -107s;
    transform-origin: 0vw 5vh;
    box-shadow: 2vmin 0 1.2323895778853047vmin currentColor;
}
.background span:nth-child(33) {
    color: #ffffff;
    top: 98%;
    left: 29%;
    animation-duration: 165s;
    animation-delay: -50s;
    transform-origin: -23vw -11vh;
    box-shadow: -2vmin 0 0.2762956964458745vmin currentColor;
}
.background span:nth-child(34) {
    color: #ffffff;
    top: 29%;
    left: 88%;
    animation-duration: 395s;
    animation-delay: -359s;
    transform-origin: 9vw -9vh;
    box-shadow: 2vmin 0 1.2403830404794987vmin currentColor;
}
.background span:nth-child(35) {
    color: #707aee;
    top: 12%;
    left: 64%;
    animation-duration: 393s;
    animation-delay: -394s;
    transform-origin: 11vw 19vh;
    box-shadow: -2vmin 0 0.8736776070107695vmin currentColor;
}
.background span:nth-child(36) {
    color: #c0c0c0;
    top: 98%;
    left: 45%;
    animation-duration: 230s;
    animation-delay: -191s;
    transform-origin: -4vw 14vh;
    box-shadow: 2vmin 0 0.7710134010185199vmin currentColor;
}
.background span:nth-child(37) {
    color: #0fe4d2;
    top: 100%;
    left: 67%;
    animation-duration: 206s;
    animation-delay: -174s;
    transform-origin: -6vw 18vh;
    box-shadow: 2vmin 0 1.1858025087964195vmin currentColor;
}
.background span:nth-child(38) {
    color: #c0c0c0;
    top: 100%;
    left: 82%;
    animation-duration: 327s;
    animation-delay: -237s;
    transform-origin: -17vw 2vh;
    box-shadow: -2vmin 0 1.0715243163798829vmin currentColor;
}
.background span:nth-child(39) {
    color: #ffffff;
    top: 44%;
    left: 43%;
    animation-duration: 52s;
    animation-delay: -388s;
    transform-origin: 22vw -9vh;
    box-shadow: -2vmin 0 1.1366706340574713vmin currentColor;
}
.background span:nth-child(40) {
    color: #c0c0c0;
    top: 99%;
    left: 17%;
    animation-duration: 89s;
    animation-delay: -178s;
    transform-origin: 8vw -17vh;
    box-shadow: 2vmin 0 0.32369525158497736vmin currentColor;
}
.background span:nth-child(41) {
    color: #c0c0c0;
    top: 27%;
    left: 84%;
    animation-duration: 99s;
    animation-delay: -38s;
    transform-origin: 0vw 10vh;
    box-shadow: -2vmin 0 0.47715948928671703vmin currentColor;
}
.background span:nth-child(42) {
    color: #ffffff;
    top: 45%;
    left: 30%;
    animation-duration: 384s;
    animation-delay: -245s;
    transform-origin: 19vw 12vh;
    box-shadow: -2vmin 0 0.47000495740714365vmin currentColor;
}
.background span:nth-child(43) {
    color: #c0c0c0;
    top: 46%;
    left: 96%;
    animation-duration: 306s;
    animation-delay: -311s;
    transform-origin: 16vw 12vh;
    box-shadow: -2vmin 0 1.2365878336074494vmin currentColor;
}
.background span:nth-child(44) {
    color: #ffffff;
    top: 87%;
    left: 15%;
    animation-duration: 302s;
    animation-delay: -173s;
    transform-origin: 21vw 22vh;
    box-shadow: 2vmin 0 0.4646437388613416vmin currentColor;
}
.background span:nth-child(45) {
    color: #ffffff;
    top: 57%;
    left: 99%;
    animation-duration: 175s;
    animation-delay: -33s;
    transform-origin: 21vw 7vh;
    box-shadow: -2vmin 0 0.324727933047396vmin currentColor;
}
.background span:nth-child(46) {
    color: #707aee;
    top: 17%;
    left: 33%;
    animation-duration: 153s;
    animation-delay: -304s;
    transform-origin: -15vw 20vh;
    box-shadow: -2vmin 0 1.24849047362027vmin currentColor;
}
.background span:nth-child(47) {
    color: #c0c0c0;
    top: 75%;
    left: 86%;
    animation-duration: 385s;
    animation-delay: -47s;
    transform-origin: -19vw -9vh;
    box-shadow: 2vmin 0 1.1662811928321315vmin currentColor;
}
.background span:nth-child(48) {
    color: #707aee;
    top: 44%;
    left: 33%;
    animation-duration: 169s;
    animation-delay: -155s;
    transform-origin: 25vw -15vh;
    box-shadow: -2vmin 0 0.32663403365174126vmin currentColor;
}
.background span:nth-child(49) {
    color: #c0c0c0;
    top: 5%;
    left: 37%;
    animation-duration: 119s;
    animation-delay: -379s;
    transform-origin: 7vw 20vh;
    box-shadow: -2vmin 0 0.9440606582460809vmin currentColor;
}

.background span:nth-child(50) {
    color: #0fe4d2;
    top: 17%;
    left: 48%;
    animation-duration: 399s;
    animation-delay: -335s;
    transform-origin: 19vw -1vh;
    box-shadow: -2vmin 0 0.6013430070068415vmin currentColor;
}
.background span:nth-child(51) {
    color: #0fe4d2;
    top: 30%;
    left: 82%;
    animation-duration: 371s;
    animation-delay: -327s;
    transform-origin: 18vw 13vh;
    box-shadow: -2vmin 0 1.2439908878504324vmin currentColor;
}
.background span:nth-child(52) {
    color: #707aee;
    top: 32%;
    left: 60%;
    animation-duration: 213s;
    animation-delay: -47s;
    transform-origin: -1vw -11vh;
    box-shadow: -2vmin 0 0.717487723142826vmin currentColor;
}
.background span:nth-child(53) {
    color: #ffffff;
    top: 43%;
    left: 45%;
    animation-duration: 295s;
    animation-delay: -243s;
    transform-origin: -15vw -11vh;
    box-shadow: -2vmin 0 0.3013997655530969vmin currentColor;
}


.presentation{
  position: absolute;
  top:25%;
  left : 12.5%;
  width : 50%;
  height : 50%;
  display: flex;
  color: white;
  -webkit-animation: fadein 5s; /* Safari, Chrome and Opera > 12.1 */
      -moz-animation: fadein 5s; /* Firefox < 16 */
       -ms-animation: fadein 5s; /* Internet Explorer */
        -o-animation: fadein 5s; /* Opera < 12.1 */
           animation: fadein 5s;

}

.presentation p {
  margin-left: 50px;
  font-size: 20px;
  margin-top: 50px;
}

.presentation h1{
  margin-left: 10px;
}

.presentation img{
  margin-left: -100px;
  margin-top: 70px;
}

.texte{
  margin-top: -20px;
  margin-left: 10px;
  margin-right: -400px;
}

.cv{
  position: absolute;
  bottom:50px;
  right:50%;
}

.haut{
  position: absolute;
  top:0px;
  left:0px;
  width:100%;
  height:150px;
  background-color: white;
  text-align: center;
  font-size: 50px;
}














.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  z-index: -1000;

}

.container {
  display: flex;
  height: 20%;
  justify-content: space-around;
  align-items: center;
  color: white;
  animation: expand 1.5s ease forwards;
  background: linear-gradient(to bottom,#0fe4d2, #202020);
  position: relative;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  transition: all .20s ease;
  text-align: center;
}

.container_content {
 width: 50%;
}

.container_content_inner {
  width: 80%;
  margin-left: 60%;
}

.container_outer_img {
  margin: 50px;
  width: 50%;
  overflow: hidden;
}

.container_img {
  width: 100%;
  animation: slideIn 1.5s ease-in-out forwards;
}

.par {
  height: auto;
  overflow: hidden;
  text-align: center;
}

@keyframes slideIn {
  0% {
    transform: translateX(500px) scale(.2);
  }
  100% {
    transform: translateX(0px) scale(1);
  }
}

@keyframes slideUp {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0px);
  }
}

@keyframes expand {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0%);
  }
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

.gauche{
  position: absolute;
  bottom:0px;
  height: 150px;
  width: 99%;
  background: linear-gradient(to top,#0fe4d2, #202020);
  animation: slideUp 1.5s ease-in-out forwards;

}

.tcv{
  position: absolute;
  bottom:-12px;
  right:50.1%;
  font-weight: 800;
  font-size: 2em;
  letter-spacing: 0.5em;
  color:white;
  line-height: 1em;
  text-transform: uppercase;
  display: inline-block;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

.ml15 {
  font-weight: 800;
  font-size: 3em;
  text-transform: uppercase;
  letter-spacing: 0.5em;
}

.ml15 .word {
  display: inline-block;
  line-height: 1em;
}
